<head>
      	<title>Создать изделие</title>

</head>

<div class='main_headers'>
<h3>Создать изделие<h3>
</div>

<div>
<form action='/create_items/add' method='post'>

	<div>
	<label>Индификационный номер</label>
	<input type='text' name='id_number' value='' placeholder='номер'>
	</div>

	<div>
	<label>Название изделия</label>
	<input type='text' name='name_item' value=''>
	</div>

	<div>
	<label>Назначение</label>
	<input type='test' name='target' value=''>
	</div>
	
	<div>
	<label>Описание</label>
	<textarea name='summary_item' placeholder='Описание'></textarea>
	</div>
	
	<div>
	<button type='submit'>Добавить</button>
	</div>

</form>
</div>

<div>
<table>	
	<thead>
		<tr>
		<th>id</th>
		<th>Номер</th>
		<th>Название</th>
		<th>Назначение</th>
		<th>Описание</th>
		</tr>
	</thead>

	<tbody>
	
	<%@results.each do |item|%>
	        <tr>	
		<td><%=item['id']%></td>
		<td><%=item['id_number']%></td>
		<td><%=item['name_item']%></td>
		<td><%=item['target_item']%></td>		
		<td><%=item['summary']%></td>		
		</tr>
	<%end%>

	</tbody>
</table>
</div>
                                    






