<head>
      	<title>Создать изделие</title>
	<link rel='stylesheet' href='/styles/modal.css'>
	<link rel='stylesheet' href='/styles/accounting.css'>
</head>

<script defer src='/js/index.js'></script>

<div class='main_headers'>
<h3>Создать изделие<h3>
</div>

<div>
<form action='/create_items/add' method='post'>

	<div>
	<label>Идентификационный номер</label>
	<input type='text' name='id_number' value='' placeholder='номер'>
	</div>

	<div>
	<label>Название изделия</label>
	<input type='text' name='name_item' value=''>
	</div>

	<div>
	<label>Назначение</label>
	<select name='target'>
	<%@results_category.each do |item|%>
		<option value ='<%=item['name_category']%>'><%=item['name_category']%></option>
	<%end%>
	</select>      	
	</div>
	
	<div>
	<label>Описание</label>
	<textarea name='summary_item' placeholder='Описание'></textarea>
	</div>
	
	<div>
	<button type='submit'>Добавить</button>
	</div>

</form>
</div>



	<div>
	<button class='open-modal-btn' id='open-modal-btn'>+</button>

	<div class='modal' id='my-modal'>
	<div class='modal-box'>
	<button class='close-modal-btn' id='close-my-modal-btn'>X</button>
		
		<div class='main_headers'>
		<h4>Добавить категорию</h4>
		</div>
		
		<form action='/create_items/create_category' method='post'>
			<div>			
			<input type='text' name='create_category' value=''>
			</div>
			
			<button type='submit'>Добавить</button>	
		</form>
	</div>
	</div>

	</div>


<div class='table-grid'>
<table class='table-show'>	
	<thead>
		<tr>
		<th>id</th>
		<th>Номер</th>
		<th>Название</th>
		<th>Назначение</th>
		<th>Описание</th>
		</tr>
	</thead>

	<tbody>
	
	<%@results_items.each do |item|%>
	        <tr>	
		<td><%=item['id']%></td>
		<td><%=item['id_number']%></td>
		<td><%=item['name_item']%></td>
		<td><%=item['target_item']%></td>		
		<td><%=item['summary']%></td>		
		</tr>
	<%end%>

	</tbody>
</table>
</div>
                                    






